<h1>hello</h1>
<form name="form1" method="POST" action="/employee/post_employee_form">
    <table>
        <tr>
            <td>Joining Date</td>
            <td><input type="date" name="Joining_date"></td>
        </tr>
        <tr>
            <td>Martial status</td>
            <td><input type="Boolean" name="Martial_status"></td>
        </tr>
        <tr>
            <td>Emergency Contact</td>
            <td><input type="number" name="Emergency_contact"></td>
        </tr>
        <tr>
            <td>Employee Contact</td>
            <td><input type="number" name="Employee_contact"></td>
        </tr>
        <tr>
            <td>Date Of Birth</td>
            <td><input type="date" name="Date_Of_Birth"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name"></td>
        </tr>
        <tr>
            <td>Postal Address</td>
            <td><input type="text" name="Postal_Address"></td>
        </tr>
        <tr>
            <td>Pin-Code</td>
            <td><input type="number" name="Pin_Code"></td>
        </tr>
        <tr>
            <td>Post</td>
            <td><input type="text" name="Post"></td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td><input type="number" name="Mobile_Number"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="text" name="Gender"></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="number" name="Salary"></td>
        </tr>
        <tr>
            <td>License Number</td>
            <td><input type="text" name="License_number"></td>
        </tr>
        <tr>
            <td>Assigned Route</td>
            <td><input type="text" name="Assigned_Route"></td>
        </tr>
        <tr>
            <td>Assigned Oraganisation</td>
            <td><input type="text" name="Assigned_Organisation"></td>
        </tr>
        <tr>
            <td>Vehicle Number</td>
            <td><input type="text" name="Vehicle_number"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
</table>