<h1>hello</h1>
<form name="form1" method="POST" action="/student/post_student_form">
    <table>
        <tr>
            <td>First name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Date of Registration</td>
            <td><input type="date" name="date_of_registration"></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td><input type="number" name="semester"></td>
        </tr>
        <tr>
            <td>Form-Number</td>
            <td><input type="number" name="form_number"></td>
        </tr>
        <tr>
            <td>Id number of student</td>
            <td><input type="number" name="id_number"></td>
        </tr>
        <tr>
            <td>Postal Address</td>
            <td><input type="text" name="postal_address"></td>
        </tr>
        <tr>
            <td>Student Mobile Number</td>
            <td><input type="number" name="student_number"></td>
        </tr>

        <tr>
            <td>Blood-Group</td>
            <td><input type="text" name="blood_group"></td>
        </tr>
        <tr>
            <td>Father's Mobile Number</td>
            <td><input type="number" name="father_number"></td>
        </tr>
        <tr>
            <td>House number</td>
            <td><input type="number" name="house_number"></td>
        </tr>
        <tr>
            <td>Route</td>
            <td><input type="text" name="route"></td>
        </tr>
        <tr>
            <td>Pick-up-Stand</td>
            <td><input type="text" name="pick_up_stand"></td>
        </tr>
        <tr>
            <td>Fees per Sem</td>
            <td><input type="number" name="fees"></td>
        </tr>
        <tr>
            <td>Deposit</td>
            <td><input type="number" name="deposit"></td>
        </tr>
        <tr>
            <td>date of birth</td>
            <td><input type="date" name="date_of_birth"></td>
        </tr>
        <tr>
            <td>Branch</td>
            <td><input type="text" name="branch"></td>
        </tr>
        <tr>
            <td>Name of Institution</td>
            <td><input type="number" name="name_of_institution"></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>